.main-content.grid_4.alpha
  %header
    %ul.action-buttons.clearfix.fr
      %li
        %a.button.button-gray.no-text{:href => new_note_path,:title => "Add"}
          add
          %span.add
    %h2
      Notes
  %section
    - @notes.each do |note|
      %ul.listing.list-view
        %li.note
          %a.more{:href => note_path(note)} &raquo;
          = note.title
          %p= note.updated_at.to_s(:db)
        /    
          %td= note.title
          %td= note.content
          %td= link_to 'Show', note
          %td= link_to 'Edit', edit_note_path(note)
          %td= link_to 'Destroy', note, :confirm => 'Are you sure?', :method => :delete
.preview-pane.grid_3.omega
  .preview



