!!!
%html{ :lang => 'en', 'xml:lang' => 'en', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title
      Notes
    = javascript_include_tag('application')
    = stylesheet_link_tag 'application'
    = csrf_meta_tag   
    %link{:rel => "apple-touch-icon", :href => asset_path( "note-iphone.png")}
    %link{:rel => "apple-touch-icon", :href => asset_path( "note-ipad.png"),:sizes => "72x72"}
    %link{:rel => "apple-touch-icon", :href => asset_path( "note-iphone4.png"),:sizes => "114x114"}
  %body
    #wrapper
      %header
        .container_8.clearfix
          %h1.grid_1
            %a{:href => root_path} Notes
          %nav.grid_6
            %ul.clearfix
              %li.action
                %a.has-popupballoon.button.button-blue{:href => "#"}
                  %span.add>
                  New Note
                .popupballoon.top
                  %h3 Add new note
                  = form_for @toolbar_note do |f|
                    = f.label :title
                    %br/
                    = f.text_field :title
                    %br/
                    = f.label :content
                    %br/
                    = f.text_area :content
                    %hr/
                    %button.button.button-orange Add note
                    %button.button.button-gray.close Cancel
              %li.action
              %li.fr
                %a{:href => edit_user_registration_path} Profile
          %nav.grid_1
            %ul.clearfix
              %li.fr
                = link_to "Sign out", destroy_user_session_path 
      %section
        .container_8.clearfix
          / Sidebar
          %aside.grid_1
            %nav.global
              %ul.clearfix
                %li{:class =>  "active"}
                  %a.nav-icon.icon-note{:href => root_path} Notes
          / Sidebar End
          / Main Section
          /
            %div.grid_7
              %div.message.info.timoutable
                = flash[:alert]
          %section.main-section.grid_7
            = yield
        #push
    %footer
      #footer-inner.container_8.clearfix
        .grid_8
          %span.fr>
            %a{:href => "#"} Documentation
            |
            %a{:href => "#"} Feedback
          &copy; 2011. All rights reserved. 

