!!!
%html
  %head
    %title Notes
    %meta{:name=> "viewport", :content=> "width=device-width, user-scalable=no, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %meta{:name => "apple-mobile-web-app-capable",:content => "yes"}
    %link{:rel => "apple-touch-icon", :href => asset_path( "note-iphone.png")}
    %link{:rel => "apple-touch-icon", :href => asset_path( "note-iphone.png"),:sizes => "72x72"}
    %link{:rel => "apple-touch-icon", :href => asset_path( "note-iphone4.png"),:sizes => "114x114"}
    = stylesheet_link_tag '/lib/touch/resources/css/sencha-touch','/resources/css/application'  
    = csrf_meta_tag
    = javascript_tag "window._token = '#{form_authenticity_token}'"
  %body
    = yield